body {
  background-color: #222;
  background-image: url("../images/bg-intro.png") ;
  background-repeat: no-repeat;
  background-position: top center;
  /* background-size: cover; */
  
}


/* .blind {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  clip: rect(0,0,0,0);
}

h1 .logo{
  width: 544px;
  height: 235px;
  background-image: url("../images/logo--w.png");
  background-repeat: no-repeat;
  background-size: cover;
} */

.logo-title {
  width: 75%;
  max-width: 544px;
  margin: 0 auto;
  margin-bottom: 42px;
}
.page-desc {
  max-width: 600px;
  font-size: 18px;
  line-height: 1.7;
  padding: 42px 44px;
  background-color: rgba(0, 0, 0, .4);
  /* border-radius: 20px; */
  border: 3px solid #fff;
  margin: 20px auto 34px;
  color: #fff;
}

@media (max-width: 640px){

  .page-desc{
    font-size: 16px;
    padding: 32px;
  }
}